<html>
  <head></head>
  <body>
  <form>
  <textarea rows = "20" cols = "50" name = "list">Input list</textarea>
  <input type='submit' value='Send List' />
</form>

    <p>
      The formatted list is: 
      <%= formatted_list %>
    </p>
  </body>
</html>
